<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Update detail model</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= root_path %>">Dashboard</a></li>
          <li class="breadcrumb-item"><%= link_to "List models", detail_models_path %></li>
          <li class="breadcrumb-item active">Update detail model</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Detail model</h3>
          </div>
          <%= render "shared/detail_model_form" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Size</h3>
          </div>
          <div class="card-body">
            <%= render "shared/size_form" %>
            <div class="mt-3">
              <table class="table">
                  <thead>
                  </thead>
                  <tbody class="list-size">
                    <% Size.all.each_with_index do |size, index| %>
                      <%= render "sizes/size", index: index, size: size %>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </div> 
        </div>
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Color</h3>
          </div>
          <div class="card-body">
            <%= render "shared/color_form" %>
            <div class="mt-3">
              <table class="table">
                  <thead>
                  </thead>
                  <tbody class="list-color">
                    <% Color.all.each_with_index do |color, index| %>
                      <%= render "colors/color", index: index, color: color %>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>